@font-face {
    font-family: titleFont;
    src: url("fonts/Blackout.otf");
    font-family: myFont;
    src: url("fonts/AmaticSC-Bold.ttf");

}
body{
    font-family: myFont;
    margin: auto;
    text-align: center;

}

.title {
    font-size: 80px;
    font-family: myFont;
    margin: auto;
    text-align: center;
}

.table {
    margin-top: 60px;
    width: 60%;
    margin-left: 20%;
    font-family: Arial, sans-serif;
}
input {
    font-family: Arial, sans-serif;
}

button {
    border-radius: 5%;
}